<p id="notice"><%= notice %></p>
<% if @folder.folderable.present? %>
  <%= render(BreadcrumbComponent.new(folder: @folder.folderable)) %>
<% else %>
  <%= link_to 'Home', root_path %> /
<% end %>
<%= @note.title %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>
        <%= @note.title %>
      </h1>
      <%= link_to 'Edit', edit_note_path(@note) %>
      <div class="card">
        <%= @note.content %>
      </div>
    </div>
  </div>
</div>
