<!doctype html>
<html lang="en">
  <head>
    <title>TreeAndLeaves</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Tree and Leaves: Simple note application">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', async: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true%>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous"></script>

  </head>
  <% if user_signed_in? %>

  <% end %>
  <body>

  <div class="wrapper" >

    <!-- Sidebar -->
    <% if user_signed_in? %>
    <nav id="sidebar">

        <% if @folder.present? %>
          <%= render(SidebarComponent.new(user: current_user, folder: @folder.id))%>
        <% else %>
          <%= render(SidebarComponent.new(user: current_user, folder: false))%>
        <% end %>
    </nav>
      <div class="sidebarCollapse-container">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary" style="border-radius: 0px" aria-label="Show and Hide Sidebar">
          <i class="fas fa-align-left"></i>
        </button>
      </div>
    <% end %>

    <!-- Page Content -->
    <div id="content"style="margin-left: 40px">
      <%= yield %>
    </div>

  </div>

  </body>
<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
</script>
</html>
